#HomeScreen {
  user-select: none;
}
#lista-do-header {
  color: white;
  transition: 1000ms;
  display: flex;
  position: relative;
  justify-content: space-between;
  flex: 1;
  flex-direction: line;
  align-self: center;
}

#logo2 {
  margin-top: 10px;
  width: 45px;
  height:45px;
}
#logo {
  color:#70C1FE;
  margin-top: 20px;
  margin-left: 15px;
  font-size: 18px;
}

.click {
  cursor: pointer;
}
.click:active {
  transform: scale(0.9);
}

#bodypag {
  width: 100%;
  transition: 1000ms;
  height: 100%;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#app-filter {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 16px 0px;
  justify-content: space-between;
  transition: 500ms;
}

#app-filter li {
  margin: 0px 8px;
}

#app-filter h1 {
  font-size: 12px;
  padding: 16px;
  cursor: pointer;
}

#app-filter .selected {
  border-radius: 10px;
  color: white;
  background-color: #70c1fe;
}
#divisor {
  background-color: #70c1fe;
  width: 90%;
  height: 1px;
}
ul:focus {
  outline: 0;
}
li:focus {
  outline: 0;
}
